@import "./colours.css";

.barContainer {
    width: 80vw;
    height: 20rem;
    background: black;
    margin: auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.bar {
    background: gray;
    width: 5rem;
    margin: 2px;
}

.description {
    background: gray;
}

.outerProgressBar {
    width: 80vw;
    height: 1rem;
    background: grey;
    margin: auto;
}

.innerProgressBar {
    height: 100%;
    background: blue;
}
