.navBar {
    width: 4rem;
    height: 100vh;
    background: rgb(49, 49, 49);
    display: flex;
    align-items: center;

    flex-direction: column;
}

.menuIcon {
    width: 1.3rem;
    color: rgb(112, 112, 112);
}

.navbarItem {
    color: aliceblue;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
