.navBar {
    width: 100vw;
    height: 4rem;
    background: rgb(49, 49, 49);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menuIcon {
    width: 2rem;
    color: rgb(112, 112, 112);
    padding-left: 2rem;
}

.navbarItem {
    color: aliceblue;
    display: flex;
    justify-content: center;
}
