.arrContainer {
    width: 80vw;
    margin: auto;
    height: 30rem;
    display: flex;
    align-items: flex-end;
    background: gray;
}
.bar {
    position: absolute;

    background: wheat;
    transition: transform 5s linear 0s;
}
